<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>NHN Board</title>
    </head>
    <style>
        body {
            margin: 0;
        }
        header {
            border: 2px solid darkgoldenrod;
            padding: 1.5rem;
        }
        main {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: calc(100vh - 1.5rem);
        }
    </style>
    <body>
        <header>
            <a href="/">NHN Board</a> | 게시글 수정
        </header>
        <main>
            게시글 수정 페이지입니다.
        </main>
    </body>
</html>
