<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nhnacademy.jdbc.board.mapper.PostMapper">
    <resultMap id="postItem" type="com.nhnacademy.jdbc.board.domain.post.PostItem">
        <result column="post_no" property="postNo" />
        <result column="title" property="title" />
        <result column="username" property="username" />
        <result column="created_at" property="createdAt" javaType="java.util.Date" />
    </resultMap>

    <select id="selectPosts" parameterType="com.nhnacademy.jdbc.board.domain.page.MySqlPaginator" resultMap="postItem">
        SELECT post_no
             , title
             , username
             , created_at
        FROM Post A
             INNER JOIN User B
                     ON B.user_no = A.user_no
        WHERE 1 = 1
          AND post_no > 0
        ORDER BY post_no DESC, created_at DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="selectPostDetail" resultType="com.nhnacademy.jdbc.board.domain.post.PostDetailViewVo">
        SELECT post_no    AS postNo
             , title
             , username
             , created_at  AS createdAt
             , sequence_no AS sequenceNo
             , parent_no   AS parentPostNo
        FROM Post A
             INNER JOIN User B
                     ON B.user_no = A.user_no
    </select>

    <select id="selectPost" resultType="com.nhnacademy.jdbc.board.domain.post.Post">
        SELECT post_no        AS postNo
             , title
             , username
             , content
             , post_group_no  AS postGroupNo
             , post_group_seq As postGroupSeq
             , post_depth     AS postDepth
        FROM Post A
             INNER JOIN User B
                     ON B.user_no = A.user_no
        WHERE post_no = #{postNo}
    </select>

    <select id="selectNumOfPosts" resultType="int">
        SELECT COUNT(*) AS totalPostCount
          FROM Post
    </select>

    <!-- TODO: 게시판 내용의 목록은 번호, 제목, 작성자, (수정자), 작성일시, 댓글 개수 입니다. -->
    <insert id="insertPost">
        INSERT INTO Post (user_no, title, content, created_at, post_group_no, post_group_seq, post_depth)
        VALUES (#{userNo}, #{title}, #{content}, NOW(), 1, 0, 0)
    </insert>

    <insert id="insertReplyPost">
        INSERT INTO Post (user_no, title, content, created_at, post_group_no, post_group_seq, post_depth)
        VALUES (#{userNo}, #{title}, #{content}, NOW(), #{postGroupNo}, #{postGroupSeq}, #{postDepth})
    </insert>

    <update id="updatePostById">
        UPDATE Post
           SET title = #{title}, content = #{content}, updated_at = NOW()
         WHERE post_no = #{postNo}
    </update>

    <update id="updateFreeUpSpace">
        UPDATE Post
           SET post_group_seq = post_group_seq + 1
         WHERE post_group_no = #{postGroupNo}
           AND post_group_seq >= #{postGroupSeq} + 1
    </update>

    <delete id="deletePostById">
        DELETE
          FROM Post
         WHERE post_no = #{postId}
    </delete>

</mapper>
