<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nhnacademy.jdbc.board.student.mapper.StudentMapper">
    <select id="selectStudent" resultType="com.nhnacademy.jdbc.board.student.domain.Student">
        SELECT *
          FROM JdbcStudents
         WHERE id = #{id}
    </select>

    <select id="selectStudents" resultType="com.nhnacademy.jdbc.board.student.domain.Student">
        SELECT *
          FROM JdbcStudents
    </select>

    <insert id="insertStudent">
        INSERT INTO JdbcStudents(id, name, created_at)
        VALUES (#{id}, '${name}', #{createdAt})
    </insert>

    <update id="updateNameById">
        UPDATE JdbcStudents
           SET name='${name}'
         WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE
          FROM JdbcStudents
         WHERE id = #{id}
    </delete>


</mapper>

